:root
{
    --color-begin-blue: #5ebcff;
    --color-faded-blue: #ff94FF35;
    --color-middle-blue: #7371e6;
    --color-greybox: #1E1E1E;
    --color-highlight-greybox: #2A2A2A;
    --color-link: purple;
}

html
{
    scroll-behavior: smooth;
}

body
{
    background-color: black;
    background-image: url('../medias/background.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.center
{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    text-align: center;
}

.center > *
{
    text-align: center;
}

.footer
{
    margin-top: 50px;
    padding: 0 20px 0 20px;
    display: grid;
    text-align: left;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: var(--color-greybox);
    width: calc(100% - 40px);
    left:0;
    bottom: 0;
}

.navbar
{
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--color-greybox);
    width: 100%;
    display: flex;
    justify-content: center;
    transition: background-color 300ms ease;
}

.navbar:hover
{
    transition: background-color 300ms ease;
    background-color: var(--color-highlight-greybox);
}

.navbar > .link
{
    font-size: 2em;
    margin: 10px 30px 10px 30px;
}

.greybox
{
    background-color: #00000090;
    backdrop-filter: blur(5px);
    border-width: 5px;
    border-style: solid;
    border-radius: 100px;
    border-image: linear-gradient(black 0%, var(--color-highlight-greybox) 60%);
    border-image-slice: 1;
    margin: 0 20% 0 20%;
    padding: 10px;
}

.greybox > div
{
    margin: 0 20% 0 20%;
    display: flex;
    justify-content: center;
}

.link, .link:visited
{
    text-decoration: underline;
    text-decoration-color: var(--color-faded-blue);
    transition: text-decoration 300ms ease;
}

.link:hover
{
    text-decoration: underline;
    transition: text-decoration 300ms ease;
    text-decoration-color: var(--color-middle-blue);
}

.list > tbody > tr > td:nth-child(1):before
{
    content: '• ';
}

p.text
{
    font-size: 1em;
}

.text
{
    font-family: 'K2D', sans-serif;
    background: linear-gradient(90deg, var(--color-begin-blue) 0%, var(--color-middle-blue) 40%, var(--color-begin-blue) 60%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2em;
}

.table, .table2
{
    border-spacing: 30px;
}

.table > tbody > tr > td:nth-of-type(1), .table > tbody > tr > td:nth-of-type(2)
{
    text-align: left;
}

.table > tbody > tr > td:nth-of-type(3)
{
    text-align: right;
}

.table2 > tbody > tr > td:nth-of-type(1)
{
    text-align: left;
}

.table2 > tbody > tr > td:nth-of-type(2)
{
    text-align: right;
}

.title
{
    font-size: 5em;
}

.subtitle
{
    font-size: 3em;
}

@font-face {
    font-family: K2D;
    src: url(../fonts/K2D/K2D-ExtraLight.ttf);
}

@keyframes SlideInY
{
    from
    {
        transform: translateY(-300%);
    }
    to
    {
        transform: translateY(0);
    }
}

@keyframes SlideInX
{
    from
    {
        transform: translateX(-200%);
    }
    to
    {
        transform: translateX(0);
    }
}